.message{
  border: solid 1px var(--bs-gray-400);
  text-align: center;
  padding: 10px 0;
  margin-bottom: 15px;
}

.todo-item{
  border-top: solid 1px var(--bs-gray-400);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child{
    border-bottom: solid 1px var(--bs-gray-400);
  }

  span:first-child{
    font-size: 18px;
  }

  .secondary{
    font-size: 12px;
    color: var(--bs-gray-600);
  }
}

.todo-item-text{
  display: flex;
  flex-flow: column;
  padding: 8px 0;
}

.todo-item-button{
  display: inline-block;
  font-size: 25px;
  padding: 8px 10px;
  border: none;
  background-color: transparent;
  color: var(--bs-gray-700);
  cursor: pointer;

  svg{
    display: inline-block;
    vertical-align: middle;
  }
  
  &:hover{
    color: var(--bs-gray-800);
  }
}

.done{
  .todo-item-text{
    span:first-child{
      text-decoration: line-through;
      color: var(--bs-success);
    }
  }
}

.deleted{
  .todo-item-text{
    span:first-child{
      text-decoration: line-through;
      color: var(--bs-danger);
    }
  }
}