@import "../../scss/variables";


.search-box{
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 1px #dddddd;
  padding: 2px;

  input, button{
    border: transparent;
    background-color: transparent;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 0 15px;
  }

  input{
    flex-grow: 1;

    &:focus{
      outline: none;
    }
  }

  button{
    display: inline-block;
    font-size: 24px;

    svg{
      vertical-align: middle;
    }
  }
}

.add-box{
  width: 100%;

  button{
    cursor: pointer;
    background-color: $accent-color;
    color: darken($primary-color-text, 5%);
    border: solid 1px darken($accent-color, 2%);
    display: inline-block;
    width: 100%;
    font-size: 24px;
    height: 40px;
    

    svg, span{
      vertical-align: middle;
    }

    svg{
      margin-right: 8px;
    }

    &:hover{
      color: $primary-color-text;
      background-color: darken($accent-color, 2%);
    }
  }
}
