@import "../../scss/variables.scss";

.modal {
  z-index: 9100;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.modal-content {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fefefe;
  padding: 50px 0 0 0;
  width: 400px;
  min-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
  position: absolute;
  right: 6px;
  top: 10px;
  width: 25px;
  height: 25px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.form {
  margin: 20px;

  input[type="text"], select {
    width: 100%;
    display: block;
    border: solid 1px #dddddd;
    padding: 10px;
    margin-bottom: 5px;
    outline: none;

    &.error{
      border: solid 1px $red;
    }
  }

  

  select {
    grid-template-areas: "select";
    grid-area: select;
    align-items: center;
  }
  

  select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    grid-area: select;
  }

  .buttons {
    margin-top: 30px;
    display: flex;
    gap: 4px;

    .btn{
      width: 50%;
      margin: 0;
      font-size: 16px;
    }
  }

  input[type=text]:focus, select:focus {
    border: 1px solid #9ca3c4;
    box-shadow: 0 0 5px #a1acef;
    outline: none;

    &.error{
      border: solid 1px #eb7373;
      box-shadow: 0 0 5px #e79898;
    }
  }
}

.scroll-lock {
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: 17px;
}

.errors{
  margin: 15px 20px;
  padding: 0;
  list-style: none;
  color: $red;
  font-size: 12px;
}