@import "./bootstrap/custom.scss";

@font-face {
  font-family: "Righteous";
  src: local("Righteous"), url("./fonts/Righteous-Regular.ttf") format("truetype");
}

body {
  min-width: 400px;
}

@media (min-width: 576px) {

  body {
    background-color: var(--bs-gray-200);
  }
}

.offcanvas-body {
  padding: 1rem 3rem;
}

.offcanvas {
  background-color: var(--bs-gray-100);

  .list-group-flush {
    .list-group-item:first-child {
      border-top-width: 1px;
    }

    .list-group-item:last-child {
      border-bottom-width: 1px;
    }
  }

}

.offcanvas-start {
  border-right: none;
}

.modal {
  overflow-y: auto !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

body.modal-open[style] {
  padding-right: 0px !important;
  overflow: auto !important;
}