$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #4CAF50;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$gray:                  #dddddd;
$red: #aa2626;

@mixin font-weight($weight) {
  $weights: (thin: 100,
      light: 300,
      normal: 400,
      medium: 500,
      bold: 700,
      heavy: 900);

  $output: $weight;

  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }

  font-weight: $output;
}